In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("icc.csv")

In [31]:
df

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
0,Rohit Sharma,b Madushanka,4,2,2,1,0,200.00,India,Sri Lanka,1,0
1,Shubman Gill,c Mendis b Madushanka,92,92,136,11,2,100.00,India,Sri Lanka,1,0
2,Virat Kohli,c Nissanka b Madushanka,88,94,139,11,0,93.61,India,Sri Lanka,1,0
3,Shreyas Iyer,c Theekshana b Madushanka,82,56,84,3,6,146.42,India,Sri Lanka,1,0
4,KL Rahul,c Hemantha b Chameera,21,19,34,2,0,110.52,India,Sri Lanka,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
870,Iftikhar Ahmed,c Malan b Ali,3,5,8,0,0,60.00,Pakistan,England,2,47
871,Shadab Khan,b Rashid,4,7,4,1,0,57.14,Pakistan,England,2,47
872,Shaheen Shah Afridi,lbw b Atkinson,25,23,23,3,1,108.69,Pakistan,England,2,47
873,Mohammad Wasim,not out,16,14,33,2,1,114.28,Pakistan,England,2,47
874,Haris Rauf,c Stokes b Woakes,35,23,27,3,3,152.17,Pakistan,England,2,47

In [32]:
df.index

RangeIndex(start=0, stop=875, step=1)

In [41]:
df.columns #or .keys()

Index(['player', 'dismissal', 'runs', 'balls', 'minutes', '4s', '6s',
       'strike_rate', 'team', 'opponent', 'innings', 'match_id'],
      dtype='object')

In [35]:
df.size #rows*cols

10500

In [37]:
df.shape #(row,col)

(875, 12)

In [42]:
875*12

10500

In [43]:
df.head()

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
0,Rohit Sharma,b Madushanka,4,2,2,1,0,200.00,India,Sri Lanka,1,0
1,Shubman Gill,c Mendis b Madushanka,92,92,136,11,2,100.00,India,Sri Lanka,1,0
2,Virat Kohli,c Nissanka b Madushanka,88,94,139,11,0,93.61,India,Sri Lanka,1,0
3,Shreyas Iyer,c Theekshana b Madushanka,82,56,84,3,6,146.42,India,Sri Lanka,1,0
4,KL Rahul,c Hemantha b Chameera,21,19,34,2,0,110.52,India,Sri Lanka,1,0

In [44]:
df.tail()

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
870,Iftikhar Ahmed,c Malan b Ali,3,5,8,0,0,60.00,Pakistan,England,2,47
871,Shadab Khan,b Rashid,4,7,4,1,0,57.14,Pakistan,England,2,47
872,Shaheen Shah Afridi,lbw b Atkinson,25,23,23,3,1,108.69,Pakistan,England,2,47
873,Mohammad Wasim,not out,16,14,33,2,1,114.28,Pakistan,England,2,47
874,Haris Rauf,c Stokes b Woakes,35,23,27,3,3,152.17,Pakistan,England,2,47

In [45]:
df.head(10)

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
0,Rohit Sharma,b Madushanka,4,2,2,1,0,200.00,India,Sri Lanka,1,0
1,Shubman Gill,c Mendis b Madushanka,92,92,136,11,2,100.00,India,Sri Lanka,1,0
2,Virat Kohli,c Nissanka b Madushanka,88,94,139,11,0,93.61,India,Sri Lanka,1,0
3,Shreyas Iyer,c Theekshana b Madushanka,82,56,84,3,6,146.42,India,Sri Lanka,1,0
4,KL Rahul,c Hemantha b Chameera,21,19,34,2,0,110.52,India,Sri Lanka,1,0
5,Suryakumar Yadav,c Mendis b Madushanka,12,9,13,2,0,133.33,India,Sri Lanka,1,0
6,Ravindra Jadeja,run out (Samarawickrama/Mendis),35,24,41,1,1,145.83,India,Sri Lanka,1,0
7,Mohammed Shami,run out (Mendis),2,4,11,0,0,50.00,India,Sri Lanka,1,0
8,Jasprit Bumrah,not out,1,1,1,0,0,100.00,India,Sri Lanka,1,0
9,Fakhar Zaman,c & b van Beek,12,15,14,3,0,80.00,Pakistan,Netherlands,1,1

In [46]:
df.tail(10)

,player,dismissal,runs,balls,minutes,4s,6s,strike_rate,team,opponent,innings,match_id
865,Fakhar Zaman,c Stokes b Willey,1,9,13,0,0,11.11,Pakistan,England,2,47
866,Babar Azam,c Rashid b Atkinson,38,45,58,6,0,84.44,Pakistan,England,2,47
867,Mohammad Rizwan,b Ali,36,51,78,2,0,70.58,Pakistan,England,2,47
868,Saud Shakeel,b Rashid,29,37,52,4,0,78.37,Pakistan,England,2,47
869,Agha Salman,c Stokes b Willey,51,45,53,6,1,113.33,Pakistan,England,2,47
870,Iftikhar Ahmed,c Malan b Ali,3,5,8,0,0,60.00,Pakistan,England,2,47
871,Shadab Khan,b Rashid,4,7,4,1,0,57.14,Pakistan,England,2,47
872,Shaheen Shah Afridi,lbw b Atkinson,25,23,23,3,1,108.69,Pakistan,England,2,47
873,Mohammad Wasim,not out,16,14,33,2,1,114.28,Pakistan,England,2,47
874,Haris Rauf,c Stokes b Woakes,35,23,27,3,3,152.17,Pakistan,England,2,47

In [55]:
df.at[19,"player"] #at[row,colname]

'Haris Rauf'

In [56]:
df.iat[19,8] # iat[rowindex,colindex]

'Pakistan'

In [50]:
df.at[20,"team"]

'India'

In [54]:
df.iat[20,0]

'Rohit Sharma'

In [57]:
df.loc[0:10,"player"]

0         Rohit Sharma
1         Shubman Gill
2          Virat Kohli
3         Shreyas Iyer
4             KL Rahul
5     Suryakumar Yadav
6      Ravindra Jadeja
7       Mohammed Shami
8       Jasprit Bumrah
9         Fakhar Zaman
10         Imam-ul-Haq
Name: player, dtype: object

In [58]:
df.loc[0:10,["player","runs","opponent"]]

              player  runs     opponent
0       Rohit Sharma     4    Sri Lanka
1       Shubman Gill    92    Sri Lanka
2        Virat Kohli    88    Sri Lanka
3       Shreyas Iyer    82    Sri Lanka
4           KL Rahul    21    Sri Lanka
5   Suryakumar Yadav    12    Sri Lanka
6    Ravindra Jadeja    35    Sri Lanka
7     Mohammed Shami     2    Sri Lanka
8     Jasprit Bumrah     1    Sri Lanka
9       Fakhar Zaman    12  Netherlands
10       Imam-ul-Haq    15  Netherlands

In [91]:
rohit={
    "Player":[],
    "Runs":[],
    "Opponent":[]
}
for i in df.index:
    if ((p:=df.at[i,"player"]) == "Rohit Sharma"):
        print(p,(r:=df.at[i,"runs"]),(ot:=df.at[i,"opponent"]))
        rohit["Player"].append(p)
        rohit["Runs"].append(r)
        rohit["Opponent"].append(ot)

Rohit Sharma 4 Sri Lanka
Rohit Sharma 47 Australia
Rohit Sharma 87 England
Rohit Sharma 47 New Zealand
Rohit Sharma 40 South Africa
Rohit Sharma 61 Netherlands
Rohit Sharma 86 Pakistan
Rohit Sharma 46 New Zealand
Rohit Sharma 0 Australia
Rohit Sharma 48 Bangladesh
Rohit Sharma 131 Afghanistan

In [92]:
rohit

{'Player': ['Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma',
  'Rohit Sharma'],
 'Runs': [4, 47, 87, 47, 40, 61, 86, 46, 0, 48, 131],
 'Opponent': ['Sri Lanka',
  'Australia',
  'England',
  'New Zealand',
  'South Africa',
  'Netherlands',
  'Pakistan',
  'New Zealand',
  'Australia',
  'Bangladesh',
  'Afghanistan']}

In [93]:
rohitdf=pd.DataFrame(rohit)

In [94]:
rohitdf.to_csv("Rohitruns.csv",index=False)

In [95]:
Rohitrunsdf=pd.read_csv("Rohitruns.csv")

In [96]:
Rohitrunsdf

          Player  Runs      Opponent
0   Rohit Sharma     4     Sri Lanka
1   Rohit Sharma    47     Australia
2   Rohit Sharma    87       England
3   Rohit Sharma    47   New Zealand
4   Rohit Sharma    40  South Africa
5   Rohit Sharma    61   Netherlands
6   Rohit Sharma    86      Pakistan
7   Rohit Sharma    46   New Zealand
8   Rohit Sharma     0     Australia
9   Rohit Sharma    48    Bangladesh
10  Rohit Sharma   131   Afghanistan

In [97]:
sum(Rohitrunsdf["Runs"])

597